
 <div class="cInnerContent">
  <h1 class="header-section gs_reveal ipsType_center">
    <svg class="logo-animation" width="100" height="100" viewBox="0 0 100 100">
      <line class="line1" x1="30" y1="20" x2="30" y2="80" />
      <line class="line2" x1="30" y1="80" x2="70" y2="80" />
      <circle class="circle" cx="30" cy="10" r="10" />
      <text class="i-shape" x="30" y="65" text-anchor="middle">I</text>
    </svg>
  </h1>

  <div class="features">

    <div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
      <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft">
        <div class="card" style="background-color: rgb(228, 192, 48);">
          <h1 class="animated animate__headShake" style="color: aliceblue; margin-top: 30%;" >ANIMATION</h1>
          <!-- <img width="479" src="https://picsum.photos/479/479?index=1" alt=""> -->
        </div>
      </div>

      <div class="ipsGrid_span7 ipsType_left">
        <h2 class="heading_large gs_reveal">Amazing <strong style="color: rgb(8, 8, 223);"> ANIMATION</strong> Websites</h2>
        <p class="gs_reveal"><a href="#"></a> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, eligendi. Tempore ad error, natus in incidunt nemo illo voluptatibus, voluptates cum, nihil ullam doloribus expedita explicabo enim eum mollitia laboriosam.</p>
      </div>
    </div>

    <div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
      <div class="ipsGrid_span7 ipsType_right">
        <h2 class="heading_large gs_reveal">Creates super <strong style="color:rgb(8, 8, 223);">GRAPHS</strong></h2>
        <p class="gs_reveal">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, repudiandae voluptas ab, animi velit sequi impedit numquam facere eius perferendis eveniet quia nemo distinctio quaerat delectus eum?</p>
      </div>

      <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight">
        <div class="card" style="background-color: rgb(228, 129, 48);">
          <h1 style="color: aliceblue; margin-top: 10%;" >PYTHON D3js <br> Rstudio Tableau</h1>

          <!-- <img width="479" src="https://picsum.photos/479/479?index=2" alt=""> -->
        </div>
      </div>
    </div>

    <div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
      <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft">
        <div class="card" style="background-color: rgb(228, 78, 48);">
          <!-- <img width="479" src="https://picsum.photos/479/479?index=3" alt=""> -->
        </div>
      </div>

      <div class="ipsGrid_span7 ipsType_left">
        <h2 class="heading_large gs_reveal">Data <strong style="color:rgb(8, 8, 223);">Visualization</strong></h2>
        <p class="gs_reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam explicabo molestias praesentium fuga omnis quas! Soluta fugit quis repudiandae, aspernatur vel, quas cumque quisquam voluptas laudantium odit libero numquam molestias.</p>
      </div>
    </div>

    <div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
      <div class="ipsGrid_span7 ipsType_right">
        <h2 class="heading_large gs_reveal">Data <strong style="color:rgb(8, 8, 223);">StoryTelling</strong></h2>
        <p class="gs_reveal">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat ullam nesciunt ab, deleniti iste suscipit nihil soluta in accusantium at culpa repudiandae quia tenetur aspernatur doloremque molestias eius commodi magni!</p>
      </div>

      <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight">
        <div class="card" style="background-color: rgb(141, 39, 169);">
          <!-- <img width="479" src="https://picsum.photos/479/479?index=4" alt=""> -->
        </div>
      </div>
    </div>

  </div>

</div>

