.orange-bg{
  background-color: #ff7300;
}

.yellow-bg{
  background-color: f2d13d;
}

.green-bg{
  background-color: white;
}
.blue-bg{
  background-color: rgb(0, 183, 255);
}

.circle-cursor {
  position: fixed;
  top: -10px;
  left: -10px;
  pointer-events: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid rgb(8, 8, 223);
  transition: transform 0.3s;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* Hide default cursor */
body {
  cursor: none;
}
