
  @media (min-width: 992px) {
    .dropdown-toggle.w-lg-auto {
      width: 100%; /* Set the width to 100% for large screens */
    }

    .col-lg-2.order-lg-1 {
      flex: 0 0 30%; /* Adjust the width of the column for large screens */
    }

    .col-lg-10.order-lg-2 {
      flex: 0 0 65%; /* Adjust the width of the column for large screens */
    }
  }



/* new */
#read{
  color: rgb(255, 0, 238);
  font-size: 52px;
  font-family:Baguet Script;
  margin-bottom: 70px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 3.5);
}

.card-text{
  /* padding-top: 0; */
  color:rgb(107, 107, 109);
}

.underline-heading {
  color: black;
  text-decoration: underline;
  text-decoration-color: rgb(8, 8, 223) ;
}

.card-img-overlay {
  position: relative;
  display: inline-block;
}

.read-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
}

.read-overlay span {
  /* color: white; */
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s;
}

.card-img-overlay:hover .read-overlay {
  opacity: 1;
  animation: fadeIn 1.5s forwards;
}


.card-img-overlay:hover .read-overlay span {
  opacity: 1;
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



