
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5"  style="padding-top: 10%;">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light" style="color: rgb(8, 8, 223); font-size: 52px;">Stories</h1>
      </div>
    </div>
  </section>

  <div class="album py-4">
    <div class="container" >
      <div class="row">
        <div class="col-lg-2 col-md-12 order-lg-1 order-md-2 mt-4">
          <div class="dropdown d-lg-block d-block">
            <button class="btn btn-secondary dropdown-toggle w-100 w-lg-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false"
            style="background-color: rgba(8, 8, 223, 0.799); color: black; margin-top: 20%;">
              Sort
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">By most recent</a></li>
              <li><a class="dropdown-item" href="#">By earliest</a></li>
              <!-- <li><a class="dropdown-item" href="#">Something else here 1</a></li> -->
            </ul>
          </div>
          <div class="dropdown d-lg-block d-block mt-2 mb-4">
            <button class="btn btn-secondary dropdown-toggle w-100 w-lg-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false"
            style="background-color: rgba(8, 8, 223, 0.799); color: black;">
              Filter (0)
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Topics</a></li>
              <!-- <li><a class="dropdown-item" href="#">Another action 2</a></li> -->
              <!-- <li><a class="dropdown-item" href="#">Something else here 2</a></li> -->
            </ul>
          </div>
        </div>


        <div class="col-lg-10 col-md-12 order-lg-2 order-md-1 mt-4">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >

            <div class="col">
              <a href="/overdose"  class="card shadow-sm">

                <div class="card-img-container">
                  <img src="../../../assets/images.jpeg" alt="Image" class="card-img-top" />
                  <div class="card-img-overlay">
                    <div class="read-overlay"
                    style="background-color: rgba(0, 106, 255, 0.231); box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
                      <h1 id="read">Read</h1>
                    </div>
                  </div>
                </div>
                <div class="card-body" >
                  <h1>
                    <span class="underline-heading">Overdose Deaths</span><span class="card-text">  from 2001-2021 in US</span>
                  </h1>
                </div>
              </a>
            </div>

            <div class="col">
              <a href="/overdose"  class="card shadow-sm">

                <div class="card-img-container">
                  <img src="../../../assets/forest fire.jpg" alt="Image" class="card-img-top" />
                  <div class="card-img-overlay">
                    <div class="read-overlay"
                    style="background-color: rgba(0, 106, 255, 0.231); box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
                      <h1 id="read">Read</h1>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h1>
                    <span class="underline-heading">Title</span><span class="card-text">  something else....</span>
                  </h1>
                </div>
              </a>
            </div>

            <div class="col">
              <a href="/overdose"  class="card shadow-sm">

                <div class="card-img-container">
                  <img src="../../../assets/Campervan.jpg" alt="Image" class="card-img-top" />
                  <div class="card-img-overlay">
                    <div class="read-overlay"
                    style="background-color: rgba(0, 106, 255, 0.231); box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
                      <h1 id="read">Read</h1>
                    </div>
                  </div>
                </div>
                <div class="card-body" >
                  <h1>
                    <span class="underline-heading"></span>Title<span class="card-text">   something else....</span>
                  </h1>
                </div>
              </a>
            </div>

            <div class="col">
              <a href="/overdose"  class="card shadow-sm">

                <div class="card-img-container">
                  <img src="../../../assets/World-MapIMG.png" alt="Image" class="card-img-top" />
                  <div class="card-img-overlay">
                    <div class="read-overlay"
                    style="background-color: rgba(0, 106, 255, 0.231); box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
                      <h1 id="read">Read</h1>
                    </div>
                  </div>
                </div>
                <div class="card-body" >
                  <h1>
                    <span class="underline-heading">Title</span><span class="card-text">   something else....</span>
                  </h1>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

